<div class="new-edit">
  <h1 align="center">Editing Article</h1>

  <div class="well article">

    <%= render 'form', article: @article %>

    <div>
      <%= link_to 'Show', @article %> |
      <%= link_to 'Back', articles_path %>
    </div>
  </div>
</div>